# pixi environments
.pixi/*
.nextflow.log*
work/
singularity-cache/
singularity-cache
apptainer-cache/
apptainer-cache
.nextflow/
logs/
results/
.pixi/
work
resume.sh
*.sh
!containers.sh
*.slurm
accession_files.csv
work-old/
Thumbs.db