// nextflow.config
outputDir = 'results'

profiles {
    hpc {
        singularity {
            enabled    = true
            autoMounts = true
            cacheDir   = "${launchDir}/singularity-cache"
        }

        executor {
            name = 'slurm'
        }

        process {
            withName: 'softmask' {
                container      = 'bedtools.sif'
                queue          = 'jic-compute'
                memory         = '8 GB'
                time           = '2h'
                cpus           = 1
            }

            withName: 'helixer' {
                container        = 'helixer.sif'
                containerOptions = '--nv'
                queue            = 'jic-gpu'
                memory           = '100 GB'
                time             = '18h'
                cpus             = 1
                clusterOptions   = '--gres=gpu:1'
            }

            withName: 'annevo' {
                container        = 'annevo-fix.sif'
                containerOptions = '--nv'
                queue            = 'jic-gpu'
                memory           = '950 GB'
                time             = '1d'
                cpus             = 32
                clusterOptions   = '--gres=gpu:1'
            }

            withName: 'tiberius' {
                container        = 'tiberius_1.1.8_docker.sif'
                containerOptions = '--nv'
                queue            = 'jic-gpu'
                memory           = '400 GB'
                time             = '6h'
                cpus             = 1
                clusterOptions = '--gres=gpu:1'
            }

            withName: 'miniprot' {
                container      = 'miniprot.sif'
                queue          = 'jic-compute'
                memory         = '80 GB'
                time           = '1d'
                cpus           = 4
            }

            withName: 'star_index' {
                container      = 'star.sif'
                queue          = 'jic-compute'
                memory         = '100 GB'
                time           = '6h'
                cpus           = 4
            }

            withName: 'trim_rnaseq_data' {
                container      = 'cutadapt.sif'
                queue          = 'jic-compute'
                memory         = '32 GB'
                time           = '1h'
                cpus           = 8
            }

            withName: 'star_map_rnaseq_data_first_pass' {
                container      = 'star.sif'
                queue          = 'jic-compute'
                memory         = '100 GB'
                time           = '1h'
                cpus           = 8
            }

            withName: 'star_map_rnaseq_data_second_pass' {
                container      = 'star.sif'
                queue          = 'jic-compute'
                memory         = '100 GB'
                time           = '6h'
                cpus           = 8
            }

            withName: 'braker3' {
                container      = 'braker3.sif'
                queue          = 'jic-compute'
                memory         = '256 GB'
                time           = '1d'
                cpus           = 4
            }

            withName: 'stringtie' {
                container      = 'stringtie.sif'
                queue          = 'jic-compute'
                memory         = '32 GB'
                time           = '6h'
                cpus           = 4
            }
            
            withName: 'ingenannot_validate_annotation' {
                container      = 'ingenannot.sif'
                queue          = 'jic-compute'
                memory         = '16 GB'
                time           = '6h'
                cpus           = 1
            }

            withName: 'sort_bgzip_index_miniprot_mappings' {
                container      = 'samtools.sif'
                queue          = 'jic-compute'
                memory         = '8 GB'
                time           = '6h'
                cpus           = 8
            }

            withName: 'combine_stringtie_transcripts' {
                container      = 'stringtie.sif'
                queue          = 'jic-compute'
                memory         = '2 GB'
                time           = '6h'
                cpus           = 1
            }

            withName: 'sort_bgzip_index_combined_stringtie_transcript' {
                container      = 'samtools.sif'
                queue          = 'jic-compute'
                memory         = '8 GB'
                time           = '6h'
                cpus           = 8
            }

            withName: 'create_masked_fasta_minimap_index'  {
                container      = 'pacbio_tools.sif'
                queue          = 'jic-compute'
                memory         = '64 GB'
                time           = '6h'
                cpus           = 1
            }

            withName: 'convert_cram_flnc_to_bam'  {
                container      = 'samtools.sif'
                queue          = 'jic-compute'
                memory         = '8 GB'
                time           = '6h'
                cpus           = 1
            }

            withName: 'align_isoseq_reads_to_genome'  {
                container      = 'pacbio_tools.sif'
                queue          = 'jic-compute'
                memory         = '64 GB'
                time           = '6h'
                cpus           = 8
            }

            withName: 'collapse_isoseq'  {
                container      = 'pacbio_tools.sif'
                queue          = 'jic-compute'
                memory         = '8 GB'
                time           = '6h'
                cpus           = 1
            }

            withName: 'samtools_index' {
                container      = 'samtools.sif'
                queue          = 'jic-compute'
                memory         = '2 GB'
                time           = '6h'
                cpus           = 1
            }

            withName: 'isoform_ranking' {
                container      = 'ingenannot.sif'
                queue          = 'jic-compute'
                memory         = '64 GB'
                time           = '6h'
                cpus           = 1
            }

            withName: 'sort_bgzip_index_top_isoforms' {
                container      = 'samtools.sif'
                queue          = 'jic-compute'
                memory         = '8 GB'
                time           = '6h'
                cpus           = 8
            }

            withName: 'compute_aed_score_for_annotation' {
                container      = 'ingenannot.sif'
                queue          = 'jic-compute'
                memory         = '64 GB'
                time           = '6h'
                cpus           = 8
            }

            withName: 'ingenannot_selection_process' {
                container      = 'ingenannot.sif'
                queue          = 'jic-compute'
                memory         = '16 GB'
                time           = '6h'
                cpus           = 8
            }

            withName: 'ingenannot_compare' {
                container      = 'ingenannot.sif'
                queue          = 'jic-compute'
                memory         = '16 GB'
                time           = '6h'
                cpus           = 8
            }
        }
    }
}
